{
  "plugins": [
    ["styled-components", {"ssr": true}],
    "transform-runtime",
    "react-hot-loader/babel"
  ],
  "presets": [["env", {"modules": false}]],
  "env": {
    "production": {
      "plugins": ["transform-react-inline-elements"]
    },
    "test": {
      "presets": ["env"]
    }
  }
}
